@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Rasa:wght@300;500&display=swap');


/*el reset siempre se pone lo primero porque si no no carga la hoja de estilos*/
:root {
    --font: 'Rasa', serif;
    --maincolor: #414141;
    --secondarycolor: #c9c9c9;
    --maxwidth: 87.5rem;
    --space: 1.25rem;
    --colorbutton: #eeeeee;


}

img {
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100%);
    transition: 1s;
    /*con esto todas las imagenes estan en blanco y negro o escala de gris filter:grayscale*/
}

img:hover {
    filter: grayscale(0%);
}

* {
    box-sizing: border-box;
}

.container {
    max-width: var(--maxwidth);
    margin: 0 auto;

}

body {
    font-family: var(--font);
    font-weight: 300;
    color: var(--maincolor);
    font-size: 1em;
}

/*Inicio del header*/

header {
    padding-top: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    position: sticky;
    top: 0;
    z-index: 1;
}

header nav .menu {
    padding: calc(var(--space) * 2) 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.75em;
    padding: 0rem 1.25rem;
    /*evitar utilizar width mejor utilizar padding para los anchos maximos*/
    /*para darle a los elementos el tamaño que quiera flex-wrap*/
}

header nav.container>a {
    display: inline-block;
    text-decoration: none;
    color: var(--maincolor);
    width: 50%;
}

header nav.container #btnMenu {
    width: 50%;
    text-align: right;

}

header nav.container .menu {
    width: 100%;
}

header nav.container .menu li {
    text-align: center;

}

header nav.container .menu a {
    padding: 0.625rem 0rem;
    display: inline-block;
    text-decoration: none;
    color: var(--maincolor)
}

header nav.container .menu .active {
    font-weight: 500;
}

/*Fin del header*/

/*inicio del footer*/
footer .container {
    padding: 0rem 1.25rem;
    color: var(--secondarycolor);
}

/*fin del footer*/

/*inicio hero*/

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url(../images/fondo.png);
    background-size: cover;
    padding: 1.25rem;
    /*para que la imagen se expanda al 100% del contenedor background-size:cover*/
}

.hero h1 {
    text-align: center;
    font-size: 3rem;
    line-height: 1.4em;
}

/*fin hero*/

/*Inicio del main*/

/*estilos genericos de la section los hago atacando a section*/
main section {
    padding: var(--space) 1.25rem;
}

main #projects .grid {
    display: grid;
    gap: var(--space);
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-columns: 1fr;
}

main #projects .grid article {
    filter: grayscale(100%);
    transition: 1s;

    &:hover {
        filter: grayscale(0%);
    }
}

main #projects .grid article:first-child {
    background-image: url(../images/vase-wooden.jpg);
    background-size: cover;
    height: 40vh;
    background-position: center center;
}

main #projects .grid article:last-child {
    background-image: url(../images/coo-coo-clock.png);
    background-size: cover;
    background-position: center center;
}

main #projects .grid article:nth-child(2) {
    background-image: url(../images/bottle-gradient-2.jpg);
    background-size: cover;
    background-position: center center;
}

main #projects .grid article {
    position: relative;
}

main #projects .grid article h3 {
    position: absolute;
    bottom: 1.25rem;
    left: 1rem;
    font-size: 2em;
    font-weight: 500;
    transition: 1s;
    opacity: 0;
}

main #projects .grid article:hover h3 {
    left: 1.25rem;
    opacity: 1;
}

main section h2 {

    font-size: 3em;
    padding-bottom: 2.5rem;


}





/*fin del main*/


/*Mediaquerys*/
@media(min-width: 48rem) {
    header nav.container #btnMenu {
        display: none;
    }

    header nav.container .menu {
        width: 80%;
        order: 1;
    }

    header nav.container>a {
        width: 20%;
        order: 2;
        text-align: right;
        /*order solo funciona con flex*/
    }

    header nav.container .menu li {
        text-align: left;
        display: inline-block;

    }

    header nav .menu {
        padding: 0;
    }

    header nav.container .menu a {
        padding: 0rem calc(var(--space) *1.25) 0 0;

    }

    .hero h1 {
        max-width: 43.75rem;
    }

    main #projects .grid {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    main #projects .grid article:last-child {
        grid-column: 2;
        grid-row: 1/3;
    }

}

@media(min-width: 87.5em) {
    header .container {

        padding: 0rem;

    }

    footer .container {
        padding: 0rem;
    }

}